<div class="contact">
    <div class="imgContact">

    </div>
    <div class="areaContact">
        <h3>Still have questions? <br> Contact us.</h3>
        <div class="subArea">
            <div class="sub1">
                <p>
                    226 rue St-Joseph E,<br>
                    Québec, QC, Canada,<br>
                    G1K 3A9
                </p>
                <p>+1-202-555-0112</p>
            </div>
            <div class="separador"></div>
            <div class="sub2">
                <p>geeks@snipcart.com</p>
                <button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>On the map</button>
            </div>
        </div>
    </div>
</div>
