
<div class="header">
    <app-nav></app-nav>

    <div class="headerTitulo">
        <h1>Real, beautiful products <br> right to your door</h1>
        <button>See all products <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="trending_flat"></mat-icon></button>
    </div>

    <div class="headerSubtitulo">
        <h2><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon> Best sellers</h2>
    </div>
</div>

<app-article></app-article>

