<div class="carrito">
    <div class="navCarrito">
        <button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_backspace"></mat-icon> Continue shopping</button>

        <app-logo></app-logo>

        <span><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_bag"></mat-icon></span>
    </div>
    <div class="comprasCarrito">
        <h4>Your cart is empty.</h4>
        <!-- TODO: agregar productos seleccionados -->
    </div>
    <div class="botonCarrito">
        <button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_backspace"></mat-icon>
             Back to store
            <mat-icon aria-hidden="false" aria-label="Example home icon" ></mat-icon>
        </button>
    </div>
</div>
