<div class="menuStore">
    <app-nav></app-nav>
</div>

<div class="store">
    <h2>All Products</h2>
    <div class="storeMain">
        <div class="storeMenu">
            <ul>
                <li>Electronics</li>
                <li>Jewelery</li>
                <li>Women's Clothing</li>
                <li>Men's Clothing</li>
            </ul>
        </div>
        <div class="storeProductos">
            <app-card [dataCard]="data"></app-card>
        </div>
    </div>
</div>

<app-section></app-section>

<app-footer></app-footer>
