.articleSecundary{
    border-bottom: 1px solid #384647;
    //margin-bottom: 1rem;
    padding-top: 4rem;
}
.articleSecundary h3{
    font-size: 1.6rem;
    color: #384647;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.articleSecundary p{
    line-height: 1.5;
    font-size: 1.3rem;
    color: #384647;
    margin-bottom: 1rem;
}
.articleSecundary ul{
    margin-bottom: 3rem;
    line-height: 200%;
    color: #384647;
    font-size: 1.3rem;
}