<h2>Testimonials</h2>

<div class="testimonios">
    <div class="testimonioCard">
        <span><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="format_quote"></mat-icon></span>
        <p>
            I didn't know the Snipcart guys were into herbs as well!<br> 
            How beautiful is that Planty theme. I'm going to launch a <br> 
            killer JAMstack e-commerce store using this for sure.
        </p>
        <h3><span>JOHN DOPE</span>, COLORADO, USA</h3>
    </div>
    <div class="testimonioSeparator" ></div>
    <div class="testimonioCard">
        <span><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="format_quote"></mat-icon></span>
        <p>
            Well I'll be d*mned. These plants really ARE greener than <br>
            any of my recruits.
        </p>
        <h3><span>MAJOR PAYNE</span>, VA, USA</h3>
    </div>
</div>
